.project-box{
    width: 300px;
    height: 350px;
    background-color: #6900ff;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 150px;
}


.project-box img{
    width: 280px;
    height: 180px;
}

.project-box h3{
    text-align: left;
    color: #f6f6f6;
    margin-top: 10px;
}


.project-box button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 12px;
    margin-top: 50px;
    display: flex;
    float: right;
    text-align: center;
}


.expanded-box{
    width: 900px;
    height: 550px;
    background-color: #6900ff;
    border-radius: 12px;
    text-align: center;
    padding: 24px;
    margin-top: 150px;
}

.expanded-box video{
    width: 850px;
    height: 250px;
}

.expanded-box h2{
    text-align: left;
    color: #f6f6f6;
    margin-top: 20px;
}

.expanded-box p{
    text-align: left;
    color: #f6f6f6;
    font-size: 16px;
}

.expanded-box button{
    height: 50px;
    width: 150px;
    display: flex;
    float: right;
    margin-top: 100px;
}

@media screen and (max-width: 1450px) {

}